spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/drive
    username: postrgres
    password: password

jpa:
  hibernate:
    ddl-auto: update
  show-sql: true
  properties:
    hibernate:
      format_sql: true